.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: powderblue;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #27496d;
}

p {
  font-size: 2rem;
  color: #27496d;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 100%;
}

footer {
  margin-top: 1%;
  color: #000000;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn {
	-moz-box-shadow:inset -2px -3px 14px -3px #000000;
	-webkit-box-shadow:inset -2px -3px 14px -3px #000000;
	box-shadow:inset -2px -3px 14px -3px #000000;
	background-color:#222831;
	-webkit-border-radius:11px;
	-moz-border-radius:11px;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:8px 8px;
	text-decoration:none;
	text-shadow:1px 4px 13px #000000;
  margin-top: 10px;
  margin-left: 47%;
  }
.btn:hover {
	background-color:#27496d;
}
.btn:active {
	position:relative;
	top:10px;
}
